.section_image_section {
  display: flex;
  flex-wrap: wrap;
}

.section_image_container {
  width: 33.33%;
  height: 400px;
  text-align: center;
}

.section_image, img {
  /* margin: 0px auto; */
  width: 95%;
  height: 380px;
  /* background: url('../../assets/images/RENAME-2.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
}

.section_info {
  /* border: 2px solid red; */
}

.section_nav_display {
  /* border: 2px solid red; */
  /* margin: 0px auto; */
  text-align: center;
  line-height: 25px;
  background: rgb(218, 171, 187);
}

.section_text_display {
  font-size: 3rem;
  font-family: "Cinzel", serif;
  margin-top: 4.5rem;
}

.buy_now {
  /* position: absolute; */
  /* top: 10px; */
  margin-top: 334px;
  font-weight: 800;
  color: white;
  background: rgb(131, 126, 126);
  opacity: 0.8;
  cursor: pointer;
  /* display: none; */
}

.buy_now:hover {
  color: rgb(236, 90, 139);
}

.image_identity {
  visibility: hidden;
}

.section_image_hover {
  display: none;
}

@media screen and (max-width: 990px) {
  .section_image_container {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .section_image_container {
    width: 100%;
  }
  .section_image {
    width: 100%;
  }
  .section_text_display {
    font-size: 2rem;
  }
}