
.company_policy_nav_display {
  /* border: 2px solid red; */
  /* margin: 0px auto; */
  text-align: center;
  line-height: 25px;
  background: rgb(218, 171, 187);
}

.company_policy_info_wrapper {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}
.company_policy_info_wrapper .company_policy_info_sub_wrapper {
  width: 90%;
  margin: 0px auto;
}
.company_policy_info_wrapper .company_policy_info_sub_wrapper .company_policy_header {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}
.company_policy_info_wrapper .company_policy_info_sub_wrapper .company_policy_contents {
  margin-top: 20px;
  font-weight: 500;
}
.company_policy_info_wrapper .company_policy_info_sub_wrapper .company_policy_contents .company_policy_sub_headers {
  font-size: 1.2rem;
  font-weight: 600;
}
.company_policy_info_wrapper .company_policy_info_sub_wrapper .company_policy_contents .company_policy_sub_contents ol li {
  margin-top: 10px;
}